ACTION=="add",    SUBSYSTEM=="drm", RUN+="/etc/acpi/scripts/xrandr.sh"
ACTION=="change", SUBSYSTEM=="drm", RUN+="/etc/acpi/scripts/xrandr.sh"
ACTION=="remove", SUBSYSTEM=="drm", RUN+="/etc/acpi/scripts/xrandr.sh"
