# Point to my interal initramfs
CONFIG_INITRAMFS_SOURCE="/etc/palmer/initrd.conf"

# Gentoo needs these
CONFIG_DEVTMPFS=y
CONFIG_PROC_FS=y

# All my machines are EFI now
CONFIG_EFI=y
CONFIG_EFI_STUB=y
CONFIG_EFI_PARTITION=y
CONFIG_FB_EFI=y

# I use BTRFS for my roots, which are all encrypted
CONFIG_BTRFS_FS=y
CONFIG_BTRFS_FS_POSIX_ACL=y
CONFIG_DM_CRYPT=y
CONFIG_CRYPTO=y
CONFIG_CRYPTO_HW=y
CONFIG_CRYPTO_XTS=y
CONFIG_CRYPTO_AES=y
CONFIG_CRYPTO_AES_X86_64=y
CONFIG_CRYPTO_AES_NI_INTEL=y
CONFIG_CRYPTO_SHA512=y
CONFIG_CRYPTO_SHA512_SSSE3=y
CONFIG_ARCH_RANDOM=y
CONFIG_HW_RANDOM=y
CONFIG_HW_RANDOM_INTEL=y
CONFIG_CRYPTO_HMAC=yx

# Since EXT4 is a standard Linux thing, I want it enabled.
CONFIG_EXT4_FS=y
CONFIG_EXT4_USE_FOR_EXT2=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y

# Hardware for the P3K machines
CONFIG_R8169=y

# Necessary for cryptsetup to run
CONFIG_CRYPTO_USER=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_CRYPTO_USER_API_RNG=y
CONFIG_CRYPTO_USER_API_AEAD=y

# I don't see a reason not to have NFS support, I'll just turn it off if I'm
# not going to use it.
CONFIG_NFSD=y
CONFIG_NFSD_V4=y

# I have a bunch of these USB Ethernet adapters with ASIX chipsets, I just want
# them to always be enabled for emergencies.
CONFIG_USB_USBNET=m
CONFIG_USB_NET_AX8817X=m
CONFIG_USB_NET_AX88179_178A=m

# New machines have USB3 controlles in them for pretty much every device.
CONFIG_USB_XHCI_HCD=y
USB_EHCI_ROOT_HUB_TT=y
USB_EHCI_TT_NEWSCHED=y

# My MacBook's WiFi card needs a binary driver that has some restrictions
CONFIG_LIB80211=m
CONFIG_LIB80211_CRYPT_TKIP=m
CONFIG_LIB80211_CRYPT_CCMP=m
CONFIG_LIB80211_CRYPT_WEP=m
CONFIG_IPW2100=m

# My MacBook also needs Apple's macklight driver
CONFIG_BACKLIGHT_APPLE=m
CONFIG_SENSORS_APPLESMC=m

# USB touchpad support for Apple laptops
CONFIG_MOUSE_BCM5974=m

# More drivers for newer batteries
CONFIG_ACPI_SBS=m

# I have thunderbolt on most machines now
CONFIG_THUNDERBOLT=m

# I have Xbox 360 controllers everywhere
CONFIG_JOYSTICK_XPAD=m
CONFIG_JOYSTICK_XPAD_FF=y
CONFIG_JOYSTICK_XPAD_LEDS=y

# Pretty much everything uses the same set of audio devices.
CONFIG_SND_USB_AUDIO=m
CONFIG_SND_HDA_INTEL=m
CONFIG_SND_HDA_CODEC_HDMI=m
CONFIG_SND_HDA_CODEC_REALTEK=m
CONFIG_SND_HDA_CODEC_CMEDIA=m

# My X1 Carbon uses the iwlwifi module
CONFIG_MAC80211=m
CONFIG_IWLWIFI=m
CONFIG_IWLWIFI_LEDS=y
CONFIG_IWLDVM=m
CONFIG_IWLMVM=m
CONFIG_IWLWIFI_OPMODE_MODULAR=y
CONFIG_IWLWIFI_BCAST_FILTERING=y
CONFIG_IWLWIFI_PCIE_RTPM=y

# I want USB webcam support
CONFIG_USB_VIDEO_CLASS=m
CONFIG_MEDIA_SUPPORT=m
CONFIG_MEDIA_USB_SUPPORT=y
CONFIG_MEDIA_CAMERA_SUPPORT=y
CONFIG_VIDEO_V4L2=m

# Bluetooth is pretty safe
CONFIG_BT=m
CONFIG_BT_HCIBTUSB=m

# HiFive1
CONFIG_USB_SERIAL=m
CONFIG_USB_SERIAL_FTDI_SIO=m

# Control the backlight on my thinkpad
CONFIG_THINKPAD_ACPI=m

# Allow higher performance USB drives to work sanely
USB_UAS=y
