# Point to my interal initramfs
CONFIG_INITRAMFS_SOURCE="/etc/palmer/initrd.conf"

# Gentoo needs these
CONFIG_DEVTMPFS=y
CONFIG_PROC_FS=y

# All my machines are EFI now
CONFIG_EFI=y
CONFIG_EFI_STUB=y
CONFIG_EFI_PARTITION=y
CONFIG_FB_EFI=y

# I use BTRFS for my roots, which are all encrypted
CONFIG_BTRFS_FS=y
CONFIG_BTRFS_FS_POSIX_ACL=y
CONFIG_DM_CRYPT=y
CONFIG_CRYPTO=y
CONFIG_CRYPTO_HW=y
CONFIG_CRYPTO_XTS=y
CONFIG_CRYPTO_AES=y
CONFIG_CRYPTO_AES_X86_64=y
CONFIG_CRYPTO_AES_NI_INTEL=y
CONFIG_CRYPTO_SHA512=y
CONFIG_CRYPTO_SHA512_SSSE3=y
CONFIG_ARCH_RANDOM=y
CONFIG_HW_RANDOM=y
CONFIG_HW_RANDOM_INTEL=y
CONFIG_CRYPTO_HMAC=yx

# Since EXT4 is a standard Linux thing, I want it enabled.
CONFIG_EXT4_FS=y
CONFIG_EXT4_USE_FOR_EXT2=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y

# Hardware for the P3K machines
CONFIG_R8169=y

# Necessary for cryptsetup to run
CONFIG_CRYPTO_USER=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_CRYPTO_USER_API_RNG=y
CONFIG_CRYPTO_USER_API_AEAD=y

# I don't see a reason not to have NFS support, I'll just turn it off if I'm
# not going to use it.
CONFIG_NFSD=y
CONFIG_NFSD_V4=y

# I have a bunch of these USB Ethernet adapters with ASIX chipsets, I just want
# them to always be enabled for emergencies.
CONFIG_USB_NET_AX8817X=y
CONFIG_USB_NET_AX88179_178A=y
